@import url('https://fonts.googleapis.com/css?family=Lato');
* {
  z-index: 2;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eee;
}
a{
  text-decoration: none;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.mainNavbar{
  height: 67px;
  width: 100%;
  float: left;
  background: none;
}
.nav-section,.navbar-hamburger{
  font-size: 1.4em;
  margin-right: 20px;
  font-family: 'Lato',sans-serif;
  float: left;
  margin-top: 10px;
  cursor: pointer;
  padding: 10px;
  color: black;
  z-index: 6;
}
.top-nav::before{
  content: '';
}
.top-nav{
  transition: all 0.4s;
}
*[classificate="nav-section"]:hover{
  background: rgba(11,11,11,.4);
}
.navbar-logo{
  margin-left: 40px;
}
#if-phone{
  display: none;
}
.navbar-hamburger{
  float: right;
  display: none;
}
.appContent{
  width: 100%;
  text-align: center;
  float: left;
}
.describing,.working{
  width: 60%;
  float: left;
  font-family: 'Lato',sans-serif;
  margin-top: 40px;
}
.working{
  float: right;
}
.describingHeader,.workingHeader{
  font-size: 1.6em;
}
.describingContent{
  font-size: 1.3em;
}
input:checked[id="if-phone"] ~ .openNav
{
  display: block;
  background: rgb(65, 64, 64);
  color: white;
}
@media screen and (max-width: 768px)
{
  .openNav{
    width: 100%;
    text-align: center;
    display: block;
  }
  .navbar-logo{
    margin-left: 100px;
  }
}
@media screen and (max-width: 695px){
  .top-nav{
    display: inline-block;
    width: calc(25% - 20px);
    margin: 0px;
    margin-right: 0px;
    background: #eee;
    position: relative;
    font-size: 1em;
  }
}
@media screen and (max-width: 430px){
  .top-nav{
    width: calc(50% - 20px);
  }
  .appContent{
    margin-top: 20px;
  }
}
