@import url('https://fonts.googleapis.com/css?family=Lato');
* {
  z-index: 2;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eee;
}
a{
  text-decoration: none;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.mainNavbar{
  height: 67px;
  width: 100%;
  float: left;
}
.nav-section,.navbar-hamburger{
  font-size: 1.4em;
  margin-right: 20px;
  font-family: 'Lato',sans-serif;
  float: left;
  margin-top: 10px;
  cursor: pointer;
  padding: 10px;
  color: black;
}
label[class = "navbar-options nav-section"]::before{
  content: '';
}
label[classificate="nav-section"]{
  transition: all 0.4s;
}
label[classificate="nav-section"]:hover{
  background: rgba(11,11,11,.4);
}
.navbar-logo{
  margin-left: 40px;
}
#if-phone{
  display: none;
}
.navbar-hamburger{
  float: right;
  display: none;
}
.appContent{
  width: 100%;
  text-align: center;
  float: left;
}
.describing,.working{
  width: 60%;
  float: left;
  font-family: 'Lato',sans-serif;
  margin-top: 40px;
}
.working{
  float: right;
}
.describingHeader,.workingHeader{
  font-size: 1.6em;
}
.describingContent{
  font-size: 1.3em;
}
input:checked[id="if-phone"] ~ .openNav
{
  display: block;
  background: rgb(65, 64, 64);
  color: white;
}
@media screen and (max-width: 768px)
{
  .navbar-hamburger{
    font-size: 1.4em;
    margin-right: 20px;
    font-family: 'Lato',sans-serif;
    float: right;
    margin-top: 10px;
    cursor: pointer;
    padding: 10px;
    color: black;
    display: block;
  }
  .openNav{
    display: none;
    height: 200px;
    margin-top: 67px;
    position: absolute;
    width: 100%;
    transition: all 1s;
  }
  .describing,.working{
    width: 100%;
    float: left;
  }
  .navbar-logo,.navbar-about,.navbar-portfolio,.navbar-contact{
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

}
